<footer class="footer">
    <div class="container">
        <div class="box-policy">
            <p><strong>Cam kết của chúng tôi về công việc:</strong></p>

            <div class="span6">
                <p>
                    <strong>VinPro</strong> cam kết mang đến cho nhân viên một<br>
                    môi trường làm việc TÔN TRỌNG và CÔNG BẰNG.
                </p>
                <p>
                    <strong>VinPro</strong> cam kết mang đến cho quản lý:<br>
                    + Một SÂN CHƠI công bằng để thi thố tài năng.<br>
                    + Một cam kết cho một cuộc sống cá nhân SUNG TÚC.<br>
                    + Một vị trí xã hội được người khác KÍNH NỂ
                </p>
                <p>
                    <strong>VinPro</strong> cam kết đóng góp cho công đồng thông<br>
                    qua việc tạo nhiều ngàn việc làm và đóng góp đầy đủ thuế<br>
                    cho ngân sách nhà nước.
                </p>
            </div>

            <div class="span7">
             <p class="text-center">@@2014-2015 All Right Reserved by VinPro.Net
CÔNG TY TNHH THƯƠNG MẠI VÀ DỊCH VỤ VINPRO
Đ/c : Số 72 Lê Thánh Tôn, Phường Bến Nghé , Quận 1, Thành phố Hồ Chí Minh
Điện thoại : 08 38258195
Mã số Doanh nghiệp : 0313085234 - Đăng ký lần đầu ngày 09/01/2015
Nơi cấp Giấy chứng nhận đăng ký Doanh nghiệp : Phòng Đăng ký Kinh doanh – Sở Kế hoạch và Đầu tư Thành phố Hồ Chí Minh</p>
            </div>

            <div class="clear"></div>
        </div>
    </div>
    <div class="footer-widgets">
        <div class="container">
            <div class="row">
                <div class="span3">
                    <span>Kết nối với chúng tôi&nbsp;&nbsp;</span>
                    <ul class="social">
                        <li>
                            <a href="#" title="Linkedin" target="_blank">
                                <div class="icon icon-linkedin"></div>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.facebook.com/vinpronet" title="Facebook" target="_blank">
                                <div class="icon icon-facebook"></div>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="span4">Copyright © <span class="maincolor">vinpro.net</span></div>
            </div>
        </div>
    </div>
</footer>
<a href="#0" class="cd-top cd-is-visible cd-fade-out">A</a>