<footer class="footer">
    <div class="container">
        <div class="box-policy">
            <p><strong>Cam kết của chúng tôi về công việc:</strong></p>

            <div class="span6">
                <p>
                    <strong>Thế Giới Di Động</strong> cam kết mang đến cho nhân viên một<br>
                    môi trường làm việc TÔN TRỌNG và CÔNG BẰNG.
                </p>
                <p>
                    <strong>Thế Giới Di Động</strong> cam kết mang đến cho quản lý:<br>
                    + Một SÂN CHƠI công bằng để thi thố tài năng.<br>
                    + Một cam kết cho một cuộc sống cá nhân SUNG TÚC.<br>
                    + Một vị trí xã hội được người khác KÍNH NỂ
                </p>
                <p>
                    <strong>Thế Giới Di Động</strong> cam kết đóng góp cho công đồng thông<br>
                    qua việc tạo nhiều ngàn việc làm và đóng góp đầy đủ thuế<br>
                    cho ngân sách nhà nước.
                </p>
            </div>

            <div class="span7">
                <p>
                    Quy trình tuyển dụng tại THẾ GIỚI DI ĐỘNG tôn trọng các giá trị công bằng và bình đẳng. Mọi ứng viên đều trải qua các vòng tuyển chọn như nhau và không có bất cứ sự ưu tiên nào.
                </p>
                <p>Mục tiêu của chúng tôi là đảm bảo quy trình tuyển dụng và chọn lựa ứng viên được rỏ ràng, minh bạch.</p>
            </div>

            <div class="clear"></div>
        </div>
    </div>
    <div class="footer-widgets">
        <div class="container">
            <div class="row">
                <div class="span3">
                    <span>Kết nối với chúng tôi&nbsp;&nbsp;</span>
                    <ul class="social">
                        <li>
                            <a href="https://www.linkedin.com/company/mobile-world-jsc" title="Linkedin" target="_blank">
                                <div class="icon icon-linkedin"></div>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.facebook.com/hrthegioididong" title="Facebook" target="_blank">
                                <div class="icon icon-facebook"></div>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="span4">Copyright © <span class="maincolor">Thegioididong.com</span></div>
            </div>
        </div>
    </div>
</footer>
<a href="#0" class="cd-top cd-is-visible cd-fade-out">A</a>