<header class="header">
    <div class="container">
        <div class="row">
            <div class="row-header">
                <div class="span1">
                    <div class="logo pull-left">
                        <a href="/" class="logo_n">
                            <img src="/Content/themes/Recruitment/Images/logo.png" alt="Cơ hội việc làm tại thegioididong.com" title="Cơ hội việc làm tại thegioididong.com">
                        </a>
                    </div>
                </div>
                <div class="span2">
                    <div class="menunav">
                        <ul>

                            <li id="menu-item-2" class="menu-item about">
                                <a class="maincolor" href="/about">Giới Thiệu</a>
                                <div class="sub-menu">
                                    <ul>
                                        <li><a class="maincolor" href="/about#intro">Về Thế Giới Di Động</a></li>
                                        <li><a class="maincolor" href="/policy#treatment">Chính sách phúc lợi</a></li>
                                        <li><a class="maincolor" href="/process">Quy trình tuyển dụng</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li id="menu-item-1" class="menu-item recruitment">
                                <a class="maincolor" href="/recruitment">Tuyển Dụng</a>
                                <div class="sub-menu">
                                    <ul>
                                        <li><a class="maincolor" href="/recruitment#to-store">Siêu thị đang hoạt động</a></li>
                                        <li><a class="maincolor" href="/news">Siêu thị sắp khai trương</a></li>
                                        <li><a class="maincolor" href="/recruitment#to-office">Khối văn phòng</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li id="menu-item-3" class="menu-item candidate">
                                <a class="maincolor" href="/candidate">Ứng Tuyển</a>
                            </li>
                            <li id="Li1" class="menu-item news"><a class="maincolor" href="/news">Tin Tức</a></li>
                            <li id="menu-item-4" class="menu-item contact"><a class="maincolor" href="/contact">Liên Hệ</a></li>
                        </ul>
                     
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
</header>


