
@{
    ViewBag.Title = "Chi tiết ứng viên";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div class="well">
    <ol class="breadcrumb">
        <li><a href="/admin">Home</a></li>
        <li><a href="#">Danh sách ứng viên</a></li>

    </ol>
</div>
<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">Thông tin ứng viên</div>
    <div class="panel-body">
        <div class="row-fluid">
            <div class="col-md-2">
               <table class="table">
                   <tr>
                       <td>Họ và tên</td>
                   </tr>
               </table>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
 </div>

