@{
    ViewBag.Title = "Liên hệ";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
  <i class="glyphicon glyphicon-bookmark"></i>  Số 72 Lê Thánh Tôn, Phường Bến Nghé, Quận 1, Thành phố Hồ Chí Minh <br />
    <i class="glyphicon glyphicon-phone"></i>  1800 6988
    
</address>

<address>
    <a href="mailto:dvkh@vinpro.net">dvkh@vinpro.net </a><br />
   
</address>