@{
    ViewBag.Title = "Home Page";
}

<div class="sort-intro">
    <div>
        <p>Nhân viên tại Thế Giới Di Động là những con người đầy nhiệt huyết,</p>
        <p>năng động và sáng tạo. Chúng tôi mang đến cho Khách Hàng nhiều giá trị,</p>
        <p>Đặc biệt là sự trải nghiệm phục vụ tốt nhất, mang "Đẳng cấp 5 sao".</p>
        <p>Hãy gia nhập Thế Giới Di Động và giúp chúng tôi tiếp tục làm điều đó.</p>
    </div>
</div>
<div class="span17">
    <div class="box-title-2">
        <div>
            <a href="/recruitment">
                <h3>TUYỂN DỤNG NỔI BẬT</h3>
                <img src="/Content/Images/hightlight.png">
            </a>
        </div>
    </div>

   @Html.Action("CareerNewsHome","Recuiment")
</div>
@Html.Action("NewsHome","News")
<div class="clear"></div>

     

       

   